.header-container {
  background-color: orange;
  height: 85px;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.logo:hover {
  transition: all 0.4s;
  color: red;
}

.logo {
  font-size: 23px;
  color: white;
  margin: 20px;
}

.menu-list {
  display: flex;
  margin-top: 10px;
  padding: 0;
}

.menu-category {
  list-style: none;
  margin: 0 10px;
  text-align: center;
}

.menu-category-text {
  font-size: 18px;
}

.menu-category-text:hover {
  transition: all 0.3s;
  color:red;
}


.close-btn {
  display: none;
}

#menu-toggle {
  display: none;
}
.menu-icon {
  display: none;
}

.menu-icon:hover {
  color: red;
}


@media screen and (max-width: 1024px) {
  #menu-toggle {
    display: none;
  }

  .topbar-right {
    position: fixed; 
    top: 0;
    right: -250px;
    width: 240px;
    height: 100%;
    background-color: rgb(240, 42, 42);
    transition: right 0.3s;
    overflow-y: auto;
  }


  .menu-list {
    display: flex;
    flex-direction: column;
  }

  .menu-category-text {
    display: block;
    padding: 20px;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
  }

  .menu-category-text:hover {
    transition: all 0.3s;
    color:orange;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 225px;
    right: 104px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 10px;
  }

  .close-btn:hover {
    color: orange;
  }
  
  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
  }

  #menu-toggle:checked + .menu-icon + .topbar-right {
    right: 0;
  }
}